attrs
bottle
certifi
cffi
chardet
coverage
gevent
greenlet
gunicorn
idna
importlib-metadata
iniconfig
more-itertools
msgpack
numpy
packaging
Pillow
pluggy
py
pycparser
PyNaCl
pyparsing
PyYAML
requests
six
tinydb
toml
torch
torchvision
urllib3
zipp
zope.event
zope.interface